.lfr-objects__model-builder-seo-container {
	&-header {
		margin-bottom: 0.5rem;
	}

	&-edit-url-button {
		margin-bottom: 1.5rem;
        font-size: 15px;

	}

    &-button-icon {
        margin-right: 5px;
    }

}
